{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}

  @media screen and (min-width: 750px) {
   
  }

  .account_form_box{
    border-top : 1px solid #000;
  }
  .account_form_box input{
      border:none;
      border-bottom : 1px solid #000;
      width : 100%;
  }
{%- endstyle -%}

<div class="customer login">
  <h1 id="recover" tabindex="-1">
    Login
  </h1>
  <div>
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>

    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
        <input type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
        >
      {%- if form.errors -%}
        <small id="RecoverEmail-email-error" class="form__message">
          {{ form.errors.messages['form'] }}
        </small>
      {%- endif -%}

      <button>
        {{ 'customer.login_page.submit' | t }}
      </button>

      <a href="#login">
        {{ 'customer.login_page.cancel' | t }}
      </a>
    {%- endform -%}
  </div>
  <!--  로그인 -->    
  <h1 id="login" tabindex="-1">
    Login
  </h1>
  <div class="account_form_box">
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        {{ form.errors | default_errors }}
      {%- endif -%}      
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="Email"
        >

      {%- if form.password_needed -%}      
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="Password"
          >
      {%- endif -%}

      <!-- 로그인 버튼 -->
      <button>
        {{ 'customer.login_page.sign_in' | t }}
      </button>
    
      <!-- 회원가입 버튼 -->
      <a href="{{ routes.account_register_url }}">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    
      <!-- 비밀번호 재설정 버튼 -->
      {%- if form.password_needed -%}     
        <a href="#recover">
          {{ 'customer.login_page.forgot_password' | t }}
        </a>
      {%- endif -%}

      
      
    {%- endform -%}
  </div>
  
  {%- if shop.checkout.guest_login -%}
    <div>
      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
