{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register">
  <span class='account_title'>
    Register
  </span>
  <div class="account_form_box">
    {%- form 'create_customer', novalidate: 'novalidate' -%}
    <input
      type="email"
      name="customer[email]"
      id="RegisterForm-email"
      {% if form.email %} value="{{ form.email }}"{% endif %}
      spellcheck="false"
      autocapitalize="off"
      autocomplete="email"
      aria-required="true"
      {% if form.errors contains 'email' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-email-error"
      {% endif %}
      placeholder="Email"
    >
    <input
      type="password"
      name="customer[password]"
      id="RegisterForm-password"
      aria-required="true"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-password-error"
      {% endif %}
      placeholder="Password"
    >
    <div class='account_checkbox'>
      <label for='termspolicy'>
        Agree to our terms & conditions, privacy policy
      </label>
      <input type="checkbox" id="termspolicy" name="customer[note][terms_agree]" required>
    </div>
    <div class="accepts-marketing account_checkbox">
      <label for="accepts-marketing">Subscribe to our newsletter</label>
      <input type="hidden" name="customer[accepts_marketing]" value="false" />
      <input type="checkbox" name="customer[accepts_marketing]" id="newsletter" />
    </div>
    <div class="account_buttons">
      <button type="submit" style="display: none;" id="submitButton">
        Register
      </button>
      <button type="button" id="fakeButton" onclick="submitForm()">
        Register
      </button>
      <!-- <a href="{{ routes.account_login_url }}">
        Sign in
      </a> -->
    </div>
    <!-- 회원가입 에러 -->
    {%- if form.errors -%}
    <div class="account_error_box">
      {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
      {%- endif -%}
      {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
      {%- endif -%}
      {% if form.errors contains 'form' %}
      <span id="form-error" class="form__message">
        {{ form.errors.translated_fields['form'] | capitalize }} {{ form.errors.messages['form'] }}.
      </span>
      {% endif %}
      {% if form.errors contains 'note' %}
      <span id="termspolicy-error" class="form__message">
        You must agree to the Terms and Conditions.
      </span>
      {% endif %}
    </div>
    {%- endif -%}
    {%- endform -%}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('#create_customer');
    var submitButton = document.querySelector('#submitButton');

    form.addEventListener('submit', function(event) {
      var termsCheckbox = document.querySelector('#termspolicy');
      if (!termsCheckbox.checked) {
        event.preventDefault(); // 폼 제출 방지
        var errorElement = document.querySelector('#termspolicy-error');
        errorElement.textContent = 'You must agree to the Terms and Conditions.';
        errorElement.style.display = 'block'; // 에러 메시지 표시
        return false; // 추가적인 폼 제출 방지
      }
    });

    function submitForm() {
      var newsletterCheckbox = document.querySelector('#newsletter');
      if (newsletterCheckbox.checked) {
        submitButton.click(); // 제출 버튼 클릭
      }
    }

    var fakeButton = document.querySelector('#fakeButton');
    fakeButton.addEventListener('click', function() {
      submitForm();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
